simulation time 	= 100
time window 		= 5
host 				= localhost
port 				= 9999
simulation speed 	= 1

UUV   {
	name 	= nautilus
	speed 	= 0:5:20
	port	= 8888
}

SENSOR   {
	name 		= SENSOR1
	rate 		= 2
	reliability	= 0.8
	change		= 30:70:1
}

SENSOR   {
	name 		= SENSOR2
	rate 		= 1
	reliability	= 0.8
	change		= 30:70:2
}

SENSOR   {
	name 		= SENSOR3
	rate 		= 2
	reliability	= 0.8
	change		= 30:70:1
}
